@import url(http://fonts.googleapis.com/css?family=Molengo);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Reset */
header, footer, section { display: block; }
/* Global */
body {
  background: #333;
  color: #eee;
/*  font: lighter 13px/1.8 "Helvetica Neue Light", "Helvetica Neue", "Droid Sans", arial, sans-serif;*/
  font: lighter 13px/1.8 "Molengo", arial, helvetica, sans-serif;
}
h1 {
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
  line-height: 100%;
}
h2 {
  font-size: 17px;
  font-weight: normal;
}
blockquote, pre {
  background: #fcfcfc;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
code {
  font: 13px/1.4 Inconsolata, "courier new", courier;
}
p, li {
  text-align: justify;
}
a {
  color: #666;
  text-decoration: underline;
}
a:visited {
  color: #333;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: none;
}
header, footer {
  letter-spacing: .5em;
  margin-left: 10px;
  margin-right: 10px;
}
header {
  position: relative;
}
header #links {
  position: absolute;
    top: 50px; right: -20px;
}
header #links a {
  color: #ececec;
  text-decoration: none;
}
header #links a:hover {
  text-decoration: underline;
}

footer {
  font-size: 11px;
  line-height: 180%;
  text-align: center;
}
footer a, footer a:visited {
  color: #eee;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.clear {
  clear: both;
  display: block;
  float: none;
}

/* Page */
#wrapper {
  margin: auto;
  width: 740px;
}
#logo {
  text-transform: lowercase;
}
#logo h1 {
  font-size: 23px;
  font-weight: normal;
  padding: 5px 0;
}
#logo p {
  padding: 5px 0;
}
#logo h1 a {
  color: #eee;
  text-decoration: none;
}
#logo h1 a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 2s;
}
#content {
  margin-left: 10px;
  margin-right: 10px;
}
#main {
  background: #eee;
  color: #333;
  margin-left: 0;
  margin-right: 10px;
  padding: 20px;
  width: 700px;
}
.post h1 {
  font-size: 19px;
}
.post h1 a, .post h1 a:visited {
  color: #333;
  text-decoration: none;
}
.post h1 a:hover {
  text-decoration: underline;
}
.post .more, .post #related {
  font-size: 11px;
}
.post #navigation {
  height: 30px;
  margin-top: 20px;
  position: relative;
}
.post #navigation a {
  position: absolute;
  top: 0;
}
.post #navigation a#previous {
  left: 0;
}
.post #navigation a#next {
  right: 0;
}
.post #related h2 {
  font-size: 13px;
}

.post #disqus_thread {
  font-size: 11px;
}
.post .date {
  font-size: 11px;
  line-height: 100%;
}
#archive dt, #related dt {
  float: left;
  width: 7.5em;
}

#archive dd, #related dd {
  clear: right;
  margin-bottom: 5px;
  margin-left: 2em;
}

/* Syntax highlighting */
.lineno { color: #00c; padding-right: 10px; }
.c1 { color: #906030; font-style: italic; }
.k, .nb { color: #303060; }
.o, .mi { color: #00c; }
.s2, .sr { color: #306030; }
