<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Personal blog of Matt Redmond. Programmer, musician, pirate, whatever." />
  <meta name="keywords" content="ruby,groovy,pirate party,politics,music,design" />
  <title>{{ site.title }}</title>
  <link href="{{ site.base }}/css/site.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="{{ site.base }}/atom.xml" rel="alternate" type="application/atom+xml" />
  <link href="{{ site.base }}/rss.xml" rel="alternate" type="application/rss+xml" />
  <link href="{{ site.base }}/favicon.ico" rel="shortcut icon" type="image/png" />
  <link href="{{ site.base }}/favicon.ico" rel="favicon" type="image/png" />
</head>
<body>
  <div id="wrapper">
    {% include header.html %}
    
    <div id="content">
      <section id="main">
        {{ content }}
      </section>
    </div>
  
    {% include footer.html %}
  </div>
</body>
</html>
