<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!-- Temporary hack for IE. -->
  <meta name="description" content="Personal blog of Matt Redmond. Programmer, musician, pirate, whatever." />
  <title>{{ site.title }}</title>
  <link href="{{ site.base }}/css/site.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="{{ site.base }}/css/search.css" />
  <link href="{{ site.base }}/atom.xml" rel="alternate" type="application/atom+xml" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrapper">
    {% include header.html %}
    
    <div id="content">
      <div id="main">
        {{ content }}
      </div>
    </div>
  
    {% include footer.html %}
  </div>
</body>
</html>
