---
layout: default
---
<div class="posts">
  <article class="post">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>
    <div class="body">
      {{ content }}
      <p class="meta">
        {% if page.previous %}
        <span style="float:left;">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">&lsaquo; Previous: {{ page.previous.title | truncatewords:5 }}</a>
        </span>
        {% endif %}
        {% if page.next %}
        <span style="float:right">
          <a href="{{ site.baseurl }}{{ page.next.url }}" class="button right" id="next">Next: {{ page.next.title | truncatewords:5 }} &rsaquo;</a>
        </span>
        {% endif %}
      </p>
      <div style="clear:both"></div>
    </div>
    <!--/.body -->
    <section class="comments" id="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/mattredmond/embed.js"></script>
      <noscript><a href="http://mattredmond.disqus.com/?url=ref">View the discussion thread.</a></noscript>
      <a href="http://disqus.com" class="dsq=brlink">Blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
    <!--/.comments -->
  </article>
  <!--/.post -->
</div>
<!--/.posts -->